NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_CHEFU_ACCOUNT_URL=https://myaccount.chefuinc.com
NEXT_PUBLIC_ACADEMY_APP_URL=https://academy.chefuinc.com
